*,html,body{
    margin:0;
  }
body{
    font-family: 'Amaranth', sans-serif;
    background-color: #3a3a27;
}
header{
    background-color: black;
}
header div{
    display: flex;
    height: 88px;
    justify-content: flex-end;
    align-items: center;
}
header div a{
    color:black;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    padding: 1.5vh;
    border-radius: 10px;
    background-color: white;
}
#log{
    margin-right: 10vh;
}
#cad{
    margin-right: 10vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 88px;
    width: 60%;
    float:left;
}  
.menuitems{
    display: inline-block;
    color:white;
    font-size: 18px;
    text-decoration: none;
    margin-left: 9vh;
    border: 2px solid white;
    border-radius: 20px;
    padding: 4px;
}
#block-cadastro{
    display:flex;
    width: 100%;
    background-color: transparent;  
    justify-content: center;
    flex-wrap: wrap;
}
#cadastro-container{
    display:flex;
    width: 70%;
    background-color:#474838;
    flex-direction: column;
    align-items: center;
    margin-top:5vh;
    margin-bottom: 5vh;
    border: 1px solid black;
    border-radius: 10px;
}
#cadastro-form{
    margin-top:2vh;
    margin-bottom: 5vh;
    background-color: rgba(255, 255, 255, 0.993);
    width: 138vh;
    border-radius: 10px;
}
#cadastro-form input{
    border-radius: 5px;
}
.entradas-form{
    display: inline-block;
    float: left;
    margin-top: 2vh;
    margin-left: 6vh;
}
.entradas-formv2{
    width: 35vh; 
    height: 10vh;
    margin-left: 20vh;
    margin-top: 5vh;
}
.resposta-input{
    display: flex;
    align-items: center;
    color: red;
    height: 4vh; 
    width: 30vh; 
    font-size:2vh;
}
#Rodape {
    position: relative;
    font-size: 7px;
    font-style: arial;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;    
}


  