*,all,body{
  margin:0;
}
body{
    font-family: 'Amaranth', sans-serif;
}
nav{
    position: fixed;
    top:0;
    left:0;
    z-index:10;
    background-color: brown;
    height: 88px;
    width: 100%;
}
body{
    background-color: beige;
    margin-top: 7%;
}

p{
    text-align: justify;
    font-size: 130%;
}

.menuitems{
    display: inline-block;
    color:white;
    font-size: 22px;
    text-decoration: none;
    margin-left: 140px;
}

#sessoes{
    position: sticky;
    display: inline-block;
    padding: 2%;
}
#logo{
    float:left;
    margin-left: 1.1%;
    width: 230px;
    height: 150px;
}

#bloco1{
    padding: 4%;
}

figure {
    float: left;
    width: 30%;
    text-align: center;
    border: thin #D3D3D3 solid; 
    margin: 0.2em;
    margin-left: 0.5%;
    padding: 1em;
    
}
.img{
    width: 300px;
    height: 400px;
}
#feitos{
    font-style: italic;
    text-align: center;
    padding: 1em;
    margin-top: 1%;
}
figcaption{
    font-size: 130%;
}
.Rodape {
    text-align: center;
    font-size: 8px;
}

#teste{
    width: 1349px;
    height: 400px;
}