*,html,body{
  margin:0;
}
body{
    font-family: 'Amaranth', sans-serif;
    background-image: url("imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-color: beige;
    background-size: 1400px 670px;
    color:#3a3a27;
}

header div{
    display: flex;
    height: 88px;
    justify-content: flex-end;
    align-items: center;
}
header div a{
    color:black;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    padding: 1.5vh;
    border-radius: 10px;
    background-color: white;

}
#log{
    margin-right: 10vh;
}
#cad{
    margin-right: 10vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 88px;
    width: 60%;
    float:left;
}

.menuitems{
    display: inline-block;
    color:white;
    font-size: 18px;
    text-decoration: none;
    margin-left: 9vh;
    border: 2px solid white;
    border-radius: 20px;
    padding: 4px;
}

/*div ate onde vai a imagem de fundo*/
#block1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 580px;
}

#feitos{
    font-style: italic;
    text-align: center;
    padding: 1em;
    margin-top: 1%;
    color:#3a3a27;
}

#logo{
    margin-left: 1.1%;
    width: 580px;
    height: 340px;
}

figure {
    float: left;
    width: 30%;
    text-align: center;
    /* border: thin #D3D3D3 solid;  */
    border: thin solid #3a3a27;
    margin: 0.2em;
    margin-left: 0.5%;
    padding: 1em;
    
}
.img{
    width: 300px;
    height: 400px;
}

figcaption{
    font-size: 130%;
}
#job-section{
    display: flex;
    width: 100%;
    /* height: 50vh; */
    /* background-color: #474838;  pode ser esse */
    background-color:#3a3a27 ;
    margin-top: 0.6vh;
    /* border-top: 3px solid black; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:white;
}
#explanation{
    width: 185vh;
    height: 40vh;
    background-color: #474838;
    /* background-color: white; */
    margin-left: 10vh;
    margin-bottom: 2vh;
}
.Rodape {
    text-align: center;
    font-size: 8px;
    color:black;
}

