
*, body, html {
	margin: 0;
}
.bloco{
	margin-top: 6%;
}
.fixed{
	position: fixed;
	width: 100%;
	z-index: 300;
}
.Menu {
	Display: inline-block;
	width: 100%;
	height: 7%;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
}

.botao {
	border: 5px absolute green;
	background-color: green;
	height: 90%;
	width: 15%;
	margin-right: 5%;
}

.teste{
	width: 5%;
	margin-left: 3%;
	margin-top: 3px;
	margin-bottom: 3px;
}
body{

}
.corpo{
	background-color: beige;
	background-size: 100%;
}

.tabs{
	background-color: brown;
}

#menu{
	color: white;
	font-family: sans-serif;
}

.titulo{
	color: black;
	font-family: sans-serif;
    padding: 5px;
    height: 2em;
    font-size: 1em;
    background-color: rgba(203, 223, 149, 0.5)
}

.hero-bodyy{
    margin-top: 5%;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-color: black;
	border-top-color: white;
	font-family: sans-serif;
}

img{
	width: 25px;
	height: 25px;
}
        

