*,all,body{
  margin:0;
}
body{
    font-family: 'Amaranth', sans-serif;
}
nav{
    position: sticky;
    top:0;
    left:0;
    z-index:10;
    background-color: brown;
    height: 88px;
    width: 100%;
}
body{
    background-color: beige;
}

.menuitems{
    display: inline-block;
    color:white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 120px;
}

#sessoes{
    position: sticky;
    display: inline-block;
    padding: 2%;
}
#logo{
    float:left;
    margin-left: 1.1%;
    width: 150px;
    height: 150px;
}
p{
    margin-top: 10%;
    font-size: 200%;
}
#aaa{
    float:right;
}
