
*, body, html {
	margin: 0;
}
#Menu{
	width: 100%;
	height: 20vh;
	border:1px solid black;
}
#Menu img{
	margin-top: 2vh;
	margin-left: 3vh;
	height: 17vh;
	width: 17vh;
	display: inline-block;
}

#Botoes{
	float: right;
	width: 90vh;
	padding: 9vh;
}

#Botoes a{
	font-size: 2vh;
	padding: 1%;
	margin-right: 8vh;
	border: 1px solid black;
	transition-delay: 200ms;
	border-radius: 3px;
}
#Burger{
	display: none;
	float: right;
	margin-right: 8vh;
}
#Botoes a:hover{
	transition-delay: 200ms;
	border-radius: 10px;
}

@media screen and (max-width: 954px){
	#Botoes{
		display: none;
	}
	#Burger{
		margin-top: 7vh;
		display: flex;
		flex-direction: column;
		transition: transform 0.5s ease;
		transform: rotate(0deg);
	}
	#Burger div{
		height: 8px;
		width: 35px;
		background-color: black;
		margin: 3px;
	}
	.burger-active{
		transform: rotate(90deg);
		transition: transform 0.5s ease;
	}

}